mlflow==2.11.3
pandas==2.2.2
scikit-learn==1.4.2
spacy==3.7.4
textstat==0.7.3
transformers==4.40.1
datasets==2.19.0
matplotlib==3.8.4
seaborn==0.13.2
pytest==8.2.0

torch==2.2.2
xgboost==2.0.3
accelerate==0.29.3
